body {
    background-color: aquamarine;
    margin: 6px;
    padding-left: 14px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
}

footer { 
    color: blueviolet;
    font-size: 44px;
}