@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: steelblue;
    display: flex;
    text-align: center;
    flex-direction: column;
}

p {
    display: block;
    /* flex-wrap: wrap;
    flex-direction: row; */
    background-color: lightskyblue;
    text-align: left;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border-radius: 15px 50px;
    box-shadow: 10px 10px;
    border: 5%;
}

img {
    display: flex;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.box img {
    box-shadow: 10px 10px;
    border: 5%;
    border-radius: 15px 50px;
}

video {
    display: flex;
    background-color: lightskyblue;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding: 5%;
    box-shadow: 10px 10px;
    border-radius: 15px 50px;
    overflow: hidden;
}

li {
    list-style-type: none
}

.hyperlink {
    color: darkblue;
}