<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <a href="{{ url_for('home') }}"><li>Home</li></a>
            <a href="{{ url_for('contact') }}"><li>Contact</li></a>
            <a href="{{ url_for('about') }}"><li>About</li></a>
        </ul>
    </nav>
    <header>
        this is the custom header
    </header>

    {% block content %}
    
    {% endblock %}

    <footer>This is the footer</footer>
    <aside>This has entended base</aside>
</body>
</html>