.button1 {
    background-color: white;
    padding: 15px;
    border: 2px solid rgb(71, 71, 71)
}

.button2 {
    background-color: white;
    padding: 15px;
    border: 2px solid rgb(71, 71, 71);
    transition-duration: 0.25s;
}

.button2:hover {
    background-color: green;
    color: white;
    border: 2px solid black;
}

.button3 {
    background-color: white;
    padding: 15px;
    border: 2px solid rgb(71, 71, 71);
    transition-duration: 0.25s;
    box-shadow: 2px 2px gray;
}

.button3:hover {
    background-color: green;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

.button3:active {
    transform: translatey(2px);
    box-shadow: 0.5px 0.5px gray;
}

.button4 {
    background-color: white;
    padding: 15px;
    border: 2px solid rgb(71, 71, 71);
    transition-duration: 0.25s;
    box-shadow: 2px 2px gray;
    opacity: 0.5;
}

.button4:hover {
    background-color: rgb(128, 0, 0);
    color: white;
    border: 2px solid black;
    cursor: not-allowed;
}

.button4:active {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}